Source: node-p-is-promise
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Manas Kashyap <manaskashyaptech@gmail.com>
Testsuite: autopkgtest-pkg-nodejs
Build-Depends:
 debhelper-compat (= 13)
 , node-bluebird <!nocheck>
 , node-tape <!nocheck>
 , dh-sequence-nodejs
Standards-Version: 4.6.0
Homepage: https://github.com/sindresorhus/p-is-promise#readme
Vcs-Git: https://salsa.debian.org/js-team/node-p-is-promise.git
Vcs-Browser: https://salsa.debian.org/js-team/node-p-is-promise
Rules-Requires-Root: no

Package: node-p-is-promise
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Check if something is a promise
 Just pass your value to Promise.resolve() and let it handle it.
 .
 Can be useful if you need to create a fast path for a synchronous operation.
 .
 Node.js is an event-based server-side JavaScript engine.
